@model WebManager.Models.SchedulerModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JobScheduler Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='/Styles/bootstrap.css' rel='stylesheet' type='text/css' />
    <link href='/Styles/main.css' rel='stylesheet' type='text/css' />
    <link href='/Styles/Fonts/flaticon.css' rel='stylesheet' type='text/css' />

    <link href="~/Pluglin/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Pluglin/layer/skin/layer.ext.css" rel="stylesheet" />
</head>
<body>
    <div id="application">
        <header id="mainHeader" class="cq-main-header">
            <div class="cq-main-header-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="cq-header-item cq-scheduler col-xs-9 col-md-5">
                            <div id="schedulerStatus" class="cq-scheduler-status" title="Status: undefined"></div>
                            <h1 id="schedulerName" class="cq-scheduler-name"></h1>
                        </div>

                        <div id="commandIndicator" class="col-xs-3 col-md-2 cq-header-item">
                            <section class="cq-busy" style="display: none;">
                                <div class="cq-busy-image">
                                    <img src="/Images/loading.gif">
                                </div>
                                <div id="currentCommand" class="cq-current-command">Loading scheduler data</div>
                            </section>
                        </div>

                        <div class="col-xs-3 col-md-5 cq-header-item visible-md-block visible-lg-block">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="cq-main-content">
            <section id="schedulerPropertiesContainer" class="cq-scheduler-properties">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <a id="startSchedulerButton" class="cq-button disabled" href="#">
                                <span class="cq-icon flaticon-play"></span>Start scheduler
                            </a>
                            <a id="stopSchedulerButton" class="cq-button" href="#">
                                <span class="cq-icon flaticon-power"></span>Shutdown
                            </a>
                            <a id="refreshData" class="cq-button" href="#">
                                <span class="cq-icon flaticon-refresh"></span>Refresh
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <table class="cq-info-table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Statistics</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Running since:</th>
                                        <td class="runningSince">@Model.SchedulerInfo.Data.RunningSince</td>
                                    </tr>
                                    <tr>
                                        <th>Total Jobs:</th>
                                        <td class="totalJobs">@Model.SchedulerInfo.Data.JobsTotal</td>
                                    </tr>
                                    <tr>
                                        <th>Executed Jobs:</th>
                                        <td class="executedJobs">@Model.SchedulerInfo.Data.JobsExecuted </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <table class="cq-info-table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Properties</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Name:</th>
                                        <td class="schedulerName">@Model.SchedulerInfo.Data.SchedulerName </td>
                                    </tr>
                                    <tr>
                                        <th>Instance ID:</th>
                                        <td class="instanceId">@Model.SchedulerInfo.Data.InstanceId </td>
                                    </tr>
                                    <tr>
                                        <th>Is remote:</th>
                                        <td class="isRemote">@Model.SchedulerInfo.Data.IsRemote </td>
                                    </tr>
                                    <tr>
                                        <th>Scheduler type:</th>
                                        <td class="schedulerType">@Model.SchedulerInfo.Data.SchedulerType </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </section>
            <header class="cq-job-header clearfix">
                <a class="cq-job-header-title loadDetails name" href="#"></a>

                <button class="btn btn-primary" onclick="jbox.addHttpJob()">添加http作业</button>
            </header>
            <div class="container">
                @foreach (var item in Model.SchedulerInfo.Data.JobGroups)
                {
                    <header class="cq-job-group-header">
                        @*<span class="status">@item.Status</span>--

                            <section class="actions">
                                 <a href="#" class="pause cq-button flaticon-pause" title="Pause all jobs"></a>
                                 <a href="#" class="resume cq-button flaticon-play disabled" title="Resume all jobs"></a>
                             </section>*@

                        <h2 class="cq-job-group-header-title name">@item.Name </h2>
                    </header>

                    foreach (var item1 in item.Jobs)
                    {
                        <header class="cq-job-header clearfix">
                            <a class="cq-job-header-title loadDetails name" href="#">@item1.GroupName  </a>

                            <section class="actions">
                                <button class="btn btn-primary" onclick="job.triggerJob('@item1.Name', '@item1.GroupName')">运行一次</button>
                            </section>
                        </header>

                        <section class="detailsContainer"></section>

                        <table class="cq-triggers triggers">
                            <thead>
                                <tr>
                                    <th>状态</th>
                                    <th>Trigger</th>
                                    <th>Schedule</th>
                                    <th>Start date</th>
                                    <th>Previous fire date</th>
                                    <th>Next fire date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var trigger in item1.Triggers)
                                {
                                    <tr>
                                        <td>
                                            <span class="name">@trigger.Status </span>
                                        </td>
                                        <td>
                                            <span class="name">@trigger.Name </span>
                                        </td>
                                        <td class="type">@trigger.TriggerType.CronExpression </td>
                                        <td class="startDate"><span class="cq-date">@trigger.StartDate </span></td>
                                        <td class="previousFireDate"><span class="cq-date">@trigger.PreviousFireDate </span></td>
                                        <td class="nextFireDate"><span class="cq-date">@trigger.NextFireDate </span></td>
                                        <td class="">
                                            @if (trigger.Status == HubRoute.Domain.ActivityStatus.Active)
                                            {
                                                <button class="btn btn-primary" onclick="job.pauseTrigger('@trigger.Name', '@trigger.GroupName')">暂停</button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-primary " onclick="job.resumeTrigger('@trigger.Name', '@trigger.GroupName')">启动</button>
                                            }
                                            <button class="btn btn-primary" onclick="jbox.cronUpdate('@trigger.Name', '@trigger.GroupName','@trigger.TriggerType.CronExpression')">修改</button>
                                            @*<button class="btn btn-primary" onclick="alert('xxx')">删除</button>*@

                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    }

                }
            </div>
        </div>

        <footer id="mainFooter" class="cq-main-footer"></footer>

        <div id="CronModal"><input id="triggerCron" value="" /></div>

        <div id="loginForm">

            <label>name：</label>
            <input type="text" id="jobname" name="login_name" placeholder="请输入作业名" autocomplete="off"> <br />

            <label>group：</label>
            <input type="text" id="groupname" name="login_pass"  placeholder="分组名称"><br />

            <label>Cron：</label>
            <input type="text" id="triggercron" name="login_pass" placeholder="Cron"><br />

            <label>URL：</label>
            <input type="text" id="joburl" name="login_pass" placeholder="URL"><br />

            <br />
            <input type="button" style="margin-left:50px;" value="添加">
        </div>
    </div>
    <script src="/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Pluglin/layer/layer.min.js"></script>
    <script src="~/Pluglin/layer/extend/layer.ext.js"></script>
    <script src="~/Scripts/Jobs.js"></script>
</body>
</html>
